# IntelliJ
out/
.idea

# Compiled class file
*.class

*.jar
# Log file
 *.log

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

target
